<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/skeleton.css">

        <title>Document</title>
</head>

<body>
        <div class="container">
                <div class="row">
                        <h1>Quiet Hacker News</h1>
                        <ol>
                                {{range .Stories}}
                                <li><a href="{{.URL}}">{{.Title}}</a></li>
                                {{end}}
                        </ol>
                        <p class="time">This page was rendered in {{.Time}}</p>
                </div>
        </div>
</body>

</html>